th {
    font-family:'Courier New', Courier, monospace; 
    font-size:large; 
    font-weight: bold;
    border: 2px solid black;}
table {
    width: 100%;
    }
#tb1 {
    background-color: green; color:white}
#tb2 {
    background-color: red;}
caption {color: black;
        border-collapse: collapse;}
tr {border: 2px solid black;}
colgroup {background-color: grey;}
#head {background-color: white;
    color:black}
#head2 {background-color: white;
    color:black}