#img1 {
    width: 150px;
    height: 100px;
    min-width: 20%;
    text-align: right;
}
table {
    width: 100%;
}
h2 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#p1 {
    float: left;
    padding: 15px;
    width: 5%;
}
#p2 {
    float: left;
    padding: 15px;
    width: 5%;
}
#p3 {
    float: left;
    padding: 15px;
    width: 5%;
}
#p4 {
    float:none;
    padding: 15px;
    width: 5%;
}
#p4 {
    float: left;
}
#p5 {
    float: left;
    padding: 15px;
    width: 5%;
}
#p6 {
    float: left;
    padding: 15px;
    width: 5%;
}
input {
    width:20%;
    text-align:center;
    border: 2px solid black;
}
#sub {
    width: 5%;
    text-align: center;
}
form {
    text-align: center;
}
body {
    background-color: lavenderblush;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*im hoping to learn how to format better soon*/